# Supabase Configuration
VITE_SUPABASE_URL=https://obroejajjqbithrtofcl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9icm9lamFqanFiaXRocnRvZmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5Nzk0NjMsImV4cCI6MjA5MDU1NTQ2M30.Zfn0gfeB-bgWsJCACsrNShbG0s1ZNJA-MIs0o24tJVE
